# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local

.venv
venv
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/

backend/data/
backend/.mongo/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.venv/
node_modules/
.pnpm-store/
